@model IEnumerable<OnlineBookShop.Models.books>
@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



@section css {
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/stylecard.css" type="text/css">
}
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <h2 class="col-lg-12 text-center text-capitalize text-primary">Danh sách sản phẩm</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item"
                                 onmouseover="mouseOver(this);"
                                 onmousemove="mouseMove(this);">
                                <div class="product__item__pic set-bg" data-setbg="@Url.Content(@item.image_url)">
                                </div>
                                <div class="product__item__text">
                                    <h6>
                                        @Html.ActionLink(item.title, "productDetail", "ShopGrid", new { id = item.id }, new {area=""});
                                    </h6>

                                    <h5>
                                        @{
                                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                        }
                                        @String.Format(info, "{0:C}", item.price)
                                    </h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<script>
    function mouseOver(a) {
        a.style.cursor = 'pointer';
        a.style.scale = '1.02';
    }

    function mouseMove(b) {
        b.style.cursor = 'context-menu';
        b.style.scale = '1';
    }
</script>